#
# Archive template for ipimb
#
# Syntax:	<pv_name>   		<period> [ monitor ]
# Example:	TST:R00:IOC:00:STATUS   0.1    monitor
#
$(RECNAME):CH0_RAW 0.1 monitor
$(RECNAME):CH1_RAW 0.1 monitor
$(RECNAME):CH2_RAW 0.1 monitor
$(RECNAME):CH3_RAW 0.1 monitor
$(RECNAME):CH0     0.1 monitor
$(RECNAME):CH1     0.1 monitor
$(RECNAME):CH2     0.1 monitor
$(RECNAME):CH3     0.1 monitor
